.input-panel{
    display: flex;
    flex-direction: row;
}
.input-box{
    flex: 1 0;
    margin: 10px;
}
.send-button{
    flex: 0 0;
    margin: 10px;
}
html, body, .container-fluid{
    height: 100%;
}
.read-zone{
    height: 100%;
}
.main{
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.participants-box{
    background-color: azure;
}