<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="5.1.2" targetFramework="net48" />
  <package id="Autofac.Owin" version="5.0.1" targetFramework="net48" />
  <package id="Autofac.SignalR" version="3.0.2" targetFramework="net48" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.FileSystems" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.StaticFiles" version="4.1.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net48" />
</packages>